#top{
    box-shadow:2px 2px 8px rgba(0,200,0,0.6);
    background:white;
    min-height:8vh;
}
#main-nav{
    margin-top:1.5%;
}
#top .logo{
    margin-top:1%;
}
#top .icon-bar{
    background:white;
}
#top .navbar-toggle{
    background:rgb(0,111,9);
}
#top .nav-item a:hover{
    background:white;
    cursor:pointer;
}
#top .nav-item a.active{
    //background:red;
}
#navbar-collapse ul li a{
    color:green;
    font-size:1.5em;
}
.offset-header{
    padding:20vh 0 0 0 ;
}
#home{
    height:80vh;
}
#home img.back{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:opacity 2s;
}
.mainContent{
    padding: 0;
}
.mainContent h2{
    margin: 0;
}
#career .txt p{
    text-align:justify;
    padding:50px;
}
.mainContent .heading{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 22px 20px 25px 20px;
    position: relative;
    z-index: 3;
    background:rgba(100,200,100,1);
    height:80px;
}
.mainContent .tab-navigation {
    background: #556B2F;
    position: relative;
    z-index:2;
    padding:0;
    text-align:center;
    display:inline-block;
}
.mainContent .tab-navigation a{
    color:white;
    font-size:1.1em;
}
.mainContent .tab-navigation a:hover{
    background:transparent;
    text-decoration:underline;
    border:0;
}
.mainContent .tab-content{
    margin-top:2%;
}
.mainContent .container{
    padding: 0;
}
.mainContent .tab-navigation ul{
    //display:inline-block;
    border:none;
    padding:0;
}
.mainContent .nav-tabs li {
    margin-bottom:22px;
    //display:inline-block;
    text-align:center;
}
.mainContent .heading h2 {
    color: #fff;
    font-size: 1.7em;
    margin:0;
    text-align:center;
}
.triangle {
    display: block;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top-width: 13px;
    border-top-style: solid;
    border-top-color: rgba(100,200,100,1);
    bottom: -13px;
    left: 50%;
    margin-left: -13px;
}
.mainContent .tab-pane{
    text-align:center;
}
.mainContent .tab-pane p{
    float:left;
    text-align:justify;
    padding:5%;
}
.mainContent .tab-pane img{
    display:inline-block;
}
.mainContent .tab-pane h1{
    margin-top:10px;
}
#contact form .attribute{
    width:250px;
}
#contact form .field{
    padding-bottom: 5px;
}
#contact form .field input{
    width:200px;
    border:1px solid green;
    border-radius:3px;
}
.field textarea{
    width:200px;
}
h3{
    color:#007A0B;
}
#contact .component{
    
}
#services .head{
    text-align:center;
    font-size:2em;
    color:#556B2F;
}
.tab-content h1{
    font-size:1.4em;
    color:darkgreen;
    text-decoration:underline;
}
.panel-heading a{
    color:darkgreen;
    font-size:1.2em;
}
i{
    margin-right:5px;
}